.u-section-1 .u-sheet-1 {
  min-height: 423px;
}

.u-section-1 .u-shape-1 {
  width: 414px;
  background-image: none;
  left: auto;
  right: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 363px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 30px 4px;
}

.u-section-1 .u-image-1 {
  height: 350px;
  width: 233px;
  margin: -1px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 363px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 43px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 61px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0px;
  text-transform: none;
  margin: 30px 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-shape-1 {
    height: 634px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 0 0 auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 299px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    height: 309px;
    margin-top: -2px;
    margin-left: -13px;
    margin-right: -13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-1 .u-shape-1 {
    height: 662px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -25px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-1 .u-image-1 {
    height: 132px;
    width: 100px;
    margin-top: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 12px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 112px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/4MEEZ7E6MZHIFBPEENV7PJF4BU.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 523px;
}

.u-section-3 .u-text-1 {
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 66px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 48px 0 48px 883px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 40px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 40px;
    margin-left: 683px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 360px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 40px 350px 48px 113px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 0% 0%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 180px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 260px;
    margin-left: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 83px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 523px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}