 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 188px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto -12px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 456px;
}

.u-section-2 .u-gallery-1 {
  height: 800px;
  margin: 30px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    height: 660px;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-7 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    height: 505px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-gallery-1 {
    height: 379px;
    margin-bottom: -17px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2 .u-gallery-1 {
    height: 239px;
    margin-bottom: -157px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 951px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: left;
  margin: 20px 30px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  text-align: left;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  text-align: left;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: auto;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 173px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: left;
  margin: 20px 30px 0 auto;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 173px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  text-align: left;
  margin: 20px 30px 0 auto;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 173px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 173px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  text-align: left;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 30px 28px;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-11 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-12 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px 30px 28px;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-4 {
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: -162px;
}

.u-section-3 .u-layout-cell-13 {
  min-height: 173px;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  text-align: left;
  margin: 20px 30px 0 auto;
}

.u-section-3 .u-layout-cell-14 {
  min-height: 173px;
}

.u-section-3 .u-container-layout-14 {
  padding: 30px;
}

.u-section-3 .u-text-13 {
  font-size: 1.125rem;
  text-align: left;
  margin: 0;
}

.u-section-3 .u-layout-cell-15 {
  min-height: 173px;
}

.u-section-3 .u-container-layout-15 {
  padding: 30px;
}

.u-section-3 .u-text-14 {
  font-size: 1.125rem;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-16 {
  min-height: 173px;
}

.u-section-3 .u-container-layout-16 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 183px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 183px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 183px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 203px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 30px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 203px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 30px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 140px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2359px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 420px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-bottom: 30px;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1759px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 264px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 142px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 10px auto 3px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-bottom: -134px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 236px;
}

.u-section-5 .u-image-1 {
  width: 1140px;
  height: 630px;
  margin: auto auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 720px;
    height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 540px;
    height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 188px;
    margin-top: 20px;
    margin-bottom: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 200px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 200px;
  margin-top: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 2px;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  font-size: 1.125rem;
  margin-bottom: 0;
  color: rgb(76, 175, 80) !important;
}

.u-section-6 .u-list-icon-1 {
  color: rgb(50, 190, 166) !important;
}

.u-section-6 .u-list-icon-2 {
  color: rgb(50, 190, 166) !important;
}

.u-section-6 .u-list-icon-3 {
  color: rgb(50, 190, 166) !important;
}

.u-section-6 .u-list-icon-4 {
  color: rgb(50, 190, 166) !important;
}

.u-section-6 .u-list-icon-5 {
  color: rgb(50, 190, 166) !important;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  color: rgb(65, 132, 244) !important;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-6 .u-list-icon-6 {
  color: rgb(65, 132, 244) !important;
}

.u-section-6 .u-list-icon-7 {
  color: rgb(65, 132, 244) !important;
}

.u-section-6 .u-list-icon-8 {
  color: rgb(65, 132, 244) !important;
}

.u-section-6 .u-list-icon-9 {
  color: rgb(65, 132, 244) !important;
}

.u-section-6 .u-list-icon-10 {
  color: rgb(65, 132, 244) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -118px;
    margin-bottom: -118px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 112px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -172px;
    margin-bottom: -172px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -163px;
    margin-bottom: -163px;
  }
}