 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 169px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 139px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 0 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 472px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 195px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 150px;
  transform-origin: left center;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 195px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-list-1 {
  margin-top: auto;
  margin-bottom: -205px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 217px;
  grid-gap: 15px 15px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(245,214,84,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(245,214,84,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 80px;
  width: 88px;
  background-image: none;
  box-shadow: 7px -7px 0px 0 rgba(245,214,84,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    min-height: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -175px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -133px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1253px;
}

.u-section-3 .u-shape-1 {
  width: 120px;
  height: 120px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: -52px auto 0 72px;
}

.u-section-3 .u-list-1 {
  margin-top: 2px;
  margin-bottom: -2455px;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 810px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-1 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-1 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-2 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-2 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-3 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-3 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-4 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-4 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-5 {
  background-size: auto;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-5 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-5 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-6 {
  background-size: auto;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-6 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-6 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-12 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-7 {
  background-size: auto;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-7 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-7 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-14 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-8 {
  background-size: auto;
}

.u-section-3 .u-container-layout-15 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-8 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-8 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-16 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-9 {
  background-size: auto;
}

.u-section-3 .u-container-layout-17 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-9 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-9 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-18 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-10 {
  background-size: auto;
}

.u-section-3 .u-container-layout-19 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-10 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-10 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-11 {
  background-size: auto;
}

.u-section-3 .u-container-layout-21 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-11 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-11 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-22 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

.u-section-3 .u-list-item-12 {
  background-size: auto;
}

.u-section-3 .u-container-layout-23 {
  padding: 30px 30px 26px;
}

.u-section-3 .u-image-12 {
  height: 220px;
  width: 220px;
  margin: 0 auto 0 3px;
}

.u-section-3 .u-group-12 {
  width: 254px;
  min-height: 120px;
  margin: -39px auto 0 0;
}

.u-section-3 .u-container-layout-24 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-3 .u-shape-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-3 .u-list-1 {
    margin-top: auto;
    margin-bottom: -254px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 668px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-6 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-7 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-8 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-8 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-9 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-9 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-10 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-10 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-11 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-11 {
    width: 239px;
    margin-top: -57px;
  }

  .u-section-3 .u-container-layout-23 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-12 {
    margin-left: 10px;
  }

  .u-section-3 .u-group-12 {
    width: 239px;
    margin-top: -57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2386px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 10px;
    margin-bottom: -3118px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 2047px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-4 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-5 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-6 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-7 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-8 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-9 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-10 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-11 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-22 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-12 {
    margin-top: -30px;
  }

  .u-section-3 .u-container-layout-24 {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2266px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -3083px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-1 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-2 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-3 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-4 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-9 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-5 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-5 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-11 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-6 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-6 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-13 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-7 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-7 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-15 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-8 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-8 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-17 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-9 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-9 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-19 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-10 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-10 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-21 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-11 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-11 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-23 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-12 {
    height: 150px;
    width: 150px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-group-12 {
    width: 340px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2269px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -40px;
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-bottom: -2608px;
  }

  .u-section-3 .u-group-1 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-6 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-7 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-8 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-top: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-9 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-top: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-10 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-top: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-11 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-22 {
    padding-top: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-12 {
    width: 150px;
  }

  .u-section-3 .u-container-layout-24 {
    padding-top: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 506px;
}

.u-section-4 .u-shape-1 {
  width: 120px;
  height: 120px;
  text-align: start;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-align: left;
  margin: -55px auto 0 70px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 25px;
  margin-bottom: 12px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 304px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  height: 190px;
  width: 190px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 190px;
  width: 190px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 190px;
  width: 190px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-image-4 {
  height: 190px;
  width: 190px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-image-5 {
  height: 190px;
  width: 190px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 251px;
  }

  .u-section-4 .u-image-1 {
    height: 120px;
    width: 120px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-2 {
    height: 120px;
    width: 120px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-3 {
    height: 120px;
    width: 120px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-4 {
    height: 120px;
    width: 120px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-5 {
    height: 120px;
    width: 120px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-4 .u-list-1 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 641px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 61px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 61px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 61px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 61px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1082px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1458px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -480px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 507px;
}

.u-section-5 .u-shape-1 {
  width: 120px;
  height: 120px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: -52px auto 0 70px;
}

.u-section-5 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  grid-template-rows: auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 337px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-image-1 {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.u-section-5 .u-group-1 {
  width: 200px;
  min-height: 120px;
  margin: -39px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 48px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-image-2 {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.u-section-5 .u-group-2 {
  width: 200px;
  min-height: 120px;
  margin: -39px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 48px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-image-3 {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.u-section-5 .u-group-3 {
  width: 200px;
  min-height: 120px;
  margin: -39px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 48px 0 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-image-4 {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.u-section-5 .u-group-4 {
  width: 200px;
  min-height: 120px;
  margin: -39px auto 0;
}

.u-section-5 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 278px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 7px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -20px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 7px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -20px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 7px;
  }

  .u-section-5 .u-group-3 {
    margin-top: -20px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 7px;
  }

  .u-section-5 .u-group-4 {
    margin-top: -20px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 19px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 852px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-5 .u-group-2 {
    margin-top: -30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-5 .u-group-3 {
    margin-top: -30px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .u-section-5 .u-group-4 {
    margin-top: -30px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -133px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-1 {
    height: 150px;
    width: 150px;
    margin-top: 50px;
  }

  .u-section-5 .u-group-1 {
    width: 333px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 63px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-2 {
    height: 150px;
    width: 150px;
    margin-top: 50px;
  }

  .u-section-5 .u-group-2 {
    width: 333px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 63px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-3 {
    height: 150px;
    width: 150px;
    margin-top: 50px;
  }

  .u-section-5 .u-group-3 {
    width: 333px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 63px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-container-layout-7 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-4 {
    height: 150px;
    width: 150px;
    margin-top: 50px;
  }

  .u-section-5 .u-group-4 {
    width: 333px;
    min-height: 150px;
    margin-top: -150px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 63px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 11px;
    height: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-group-1 {
    width: 123px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 25px;
  }

  .u-section-5 .u-group-2 {
    width: 123px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 25px;
  }

  .u-section-5 .u-group-3 {
    width: 123px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 25px;
  }

  .u-section-5 .u-group-4 {
    width: 123px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG_8169.JPG");
  background-position: 50% 30.35%;
}

.u-section-6 .u-sheet-1 {
  min-height: 470px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 171px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 30px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 140px;
  }
}